@using NailShop.DataAccess;
@model vw_News
@{
    ViewBag.Title = "CreateNews";
    Layout = "~/Views/Share/_Backend.cshtml";
}
<section class="vbox" ng-app="MyApp" ng-controller="CtrlController">
    <section class="scrollable padder">
        <div class="m-b-md">
            <h3 class="m-b-none">Create/View News</h3>
        </div>
        @using (Html.BeginForm("CreateNews", "admin", FormMethod.Post, new { id = "formNews", @class = "form-horizontal", @name = "formNews" }))
        {
            <div class="form-group">
                <label class="col-sm-2 control-label">Title</label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Title, new { id = "Title", @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">@Resources.Backend.lblDescription</label>
                <div class="col-sm-10">
                    @Html.TextAreaFor(m => m.ShortDescription, new { id = "ShortDescription", @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Image Cover</label>
                <div class="col-sm-3">
                    <div id="boxCover" class="dropfile visible-lg">
                        <img id="imgUpload" src="@Model.Image" style="width: 250px; height: 180px" />
                        <a id="imgCover" href="#"></a>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Sort</label>
                <div class="col-sm-2">
                    @Html.TextBoxFor(m => m.Sort, new { id = "Sort", @type = "number", @class = "form-control" })
                </div>
                <div class="col-sm-10 col-sm-offset-2">
                    <div class="checkbox">
                        <label>
                            @Html.CheckBox("IsActive", Model.IsActive)
                            @Resources.Backend.lblActive
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-10 col-sm-offset-2">
                    <button id="btnSave" type="submit" class="btn btn-primary" ng-disabled="!formNews.$valid">@Resources.Backend.btnSave</button>
                    <a class="btn btn-primary" href="/admin/news">@Resources.Backend.btnBack</a>
                </div>
            </div>
        }
    </section>
</section>

@section Styles {
    <link href="~/Contents/css/uploadfile.css" rel="stylesheet" />
}

@section Scripts {
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/jquery.uploadfile.js"></script>
    <script src="~/Scripts/jquery.form.js"></script>
    <script>
        var slideID = '@ViewBag.ID';
        $("#imgCover").uploadFile({
            url: '/admin/UploadCover',
            multiple: false,
            dragDrop: false,
            allowedTypes: 'jpg,png,bmp,gif',
            maxFileSize: 2100000,
            onSuccess: function (files, response, xhr) {
                var data = $.parseJSON(response);
                $('#boxCover').find('img').attr('src', data.file);
            },
        });

        $("#imgPhoto").uploadFile({
            url: '/admin/UploadPhoto',
            multiple: false,
            dragDrop: false,
            allowedTypes: 'jpg,png,bmp,gif',
            maxFileSize: 2100000,
            onSuccess: function (files, response, xhr) {
                var data = $.parseJSON(response);
                $('#boxPhoto').find('img').attr({ 'src': data.file, 'data-id': data.id });
            },
        });

        $("#btnSave").click(function () {
            @*var news = {
                NewsID: @ViewBag.ID,
                SiteID: 1,
                Url: $('#Url').val(),
                Sort: $('#Sort').val(),
                IsActive: $('#IsActive').is(':checked')
            },
                newslang = {
                    NewsID: @ViewBag.ID,
                    LangID: 'en-US',
                    Title: $('#Title').val(),
                    ShortDescription: $('#ShortDescription').val(),
                    ImageThumbnail: $('#imgUpload').attr('src'),
                    Image: $('#imgUpload').attr('src')
                };
            $.ajax({
                url: '/admin/SaveNews',
                type: 'Post',
                data: JSON.stringify({ news: news, newlang: newslang }),
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    if (data.IsOk)
                        window.location.href = "/admin/news";
                }
            });*@


            var news = {
                NewsID: @ViewBag.ID,
                SiteID: 1,
                Url: $('#Url').val(),
                Sort: $('#Sort').val(),
                IsActive: $('#IsActive').is(':checked')
            },
              newslang = {
                  NewsID: @ViewBag.ID,
                  LangID: 'en-US',
                  Title: $('#Title').val(),
                  ShortDescription: $('#ShortDescription').val(),
                  ImageThumbnail: $('#imgUpload').attr('src'),
                  Image: $('#imgUpload').attr('src')
              };

            $.ajax({
                url: '/admin/SaveNews',
                type: 'Post',
                data: JSON.stringify({ News: news, NewsLang: newslang }),
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    if (data.IsOk)
                        window.location.href = "/admin/News";
                }
            });


        });

        angular.module('MyApp', []).controller('CtrlController', ['$scope', function ($scope) { }]);
    </script>
}


