@{
    ViewBag.Title = "ProductHot";
    Layout = "~/Views/Share/_Backend.cshtml";
}
<section class="vbox" ng-app="MyApp" ng-controller="CtrlController">
    <section class="scrollable padder">
        <div class="m-b-md">
            <h3 class="m-b-none">@Resources.Backend.headProductHot</h3>
            <hr />
        </div>
        <div class="form-group">
            <label>@Resources.Backend.chooseStore</label>
            <select id="drStore" class="form-control">
                <option data-ng-repeat="t in Stores" value="{{t.StoreID}}">{{t.StoreName}}</option>
            </select>
        </div>
        <div ui-grid="gridOptions" ui-grid-pagination class="myGrid table" style="height: 372px;"></div>
        <div>
            <button id="btnAddNew" class="btn btn-primary">@Resources.Backend.btnAdd</button>
        </div>
    </section>
    <div class="modal fade" id="modalConfirm" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h5 class="modal-title"><i class="fa fa-warning"></i> @Resources.Backend.mesTitleWarring</h5>
                </div>
                <div class="modal-body">
                    <p>@Resources.Backend.messDelete</p>
                </div>
                <div class="modal-footer">
                    <button id="btnOk" ng-click="DeleteProductHot()" class="btn btn-primary">@Resources.Backend.btnOk</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">@Resources.Backend.btnCancel</button>
                </div>
            </div>
        </div>
    </div>
</section>

@section Styles {
    <link href="~/Contents/css/ui-grid.css" rel="stylesheet" />
    <link href="~/Contents/css/backend-ui-grid.css" rel="stylesheet" />
}

@section Scripts {
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/ui-grid.js"></script>
    <script type="text/javascript">
        var app = angular.module('MyApp', ['ui.grid', 'ui.grid.pagination']), ID, StoreID;
        app.controller('CtrlController', ['$scope', '$http', function ($scope, $http, $apply) {
            $scope.GetStore = function () {
                $http({
                    url: "/admin/GetStore",
                    method: "GET",
                    cache: false,
                }).success(function (data) {
                    $scope.Stores = JSON.parse(data);
                    $scope.selectedItem = $scope.Stores[0].StoreID;
                    StoreID = $scope.Stores[0].StoreID;
                    $scope.getPagedDataAsync($scope.gridOptions.paginationCurrentPage, $scope.gridOptions.paginationPageSize);
                });
            };

            $scope.GetStore();

            $scope.gridOptions = {
                enableSorting: true,
                enableColumnMenus: false,
                paginationPageSizes: [10, 20, 40],
                paginationPageSize: 10,
                columnDefs: [
                    { name: "ProductCode", displayName: "Product Code", headerCellClass: 'text-center', cellClass: 'text-center', width: '150', sort: { direction: ['desc'], } },
                    { name: "ProductName", displayName: "Product Name", headerCellClass: 'text-center' },
                    { name: "ShortDescription", displayName: "Description", headerCellClass: 'text-center' },
                    { name: "Price", displayName: "Price", headerCellClass: 'text-center', cellClass: 'text-right', width: '100'},
                    { name: "IsActive", displayName: "Active", width: '100', headerCellClass: 'text-center', cellClass: 'text-center' },
                    { name: "", field: 'ID', displayName: "Action", headerCellClass: 'text-center', cellTemplate: '<div class="ui-grid-cell-contents"><a ng-href="/admin/createproducthot?store={{row.entity.StoreID}}&id={{row.entity.ProductID}}">View</a>/<a href="javascript:;" ng-click="grid.appScope.Delete(row)">Delete</a></div>', cellClass: 'text-center', width: '100', enableSorting: false },
                ],
            };

            $scope.Delete = function (row) {
                $('#modalConfirm').modal('show');
                ID = row.entity.ProductID;
            };

            $scope.DeleteProductHot = function () {
                $('#modalConfirm').modal('show');
                $http({
                    url: "/admin/DeleteProductHot",
                    method: "POST",
                    params: { ID: ID }
                }).success(function (data) {
                    $('#modalConfirm').modal('hide');
                    $scope.getPagedDataAsync($scope.gridOptions.paginationCurrentPage, $scope.gridOptions.paginationPageSize);
                });
            };

            $scope.getPagedDataAsync = function (pageSize, page) {
                if (pageSize == null) {
                    $scope.gridOptions.paginationPageSize = 10;
                    pageSize = 10;
                }
                if (page == null) {
                    $scope.gridOptions.paginationCurrentPage = 1;
                    page = 1;
                }
                if (StoreID != null) {
                    $http({
                        url: "/admin/GetProductHot",
                        params: { StoreID: StoreID },
                        method: "GET",
                        cache: false,
                    }).success(function (data, status, headers, config) {
                        $scope.gridOptions.data = JSON.parse(data);
                    }).error(function (myJson, status, headers, config) {
                        alert(JSON.stringify(myJson));
                    });
                };
            };

            $scope.getPagedDataAsync($scope.gridOptions.paginationCurrentPage, $scope.gridOptions.paginationPageSize);

            $("#drStore").change(function () {
                StoreID = this.value;
                $scope.gridOptions.paginationCurrentPage = 1;
                $scope.getPagedDataAsync($scope.gridOptions.paginationCurrentPage, $scope.gridOptions.paginationPageSize);
            });

            $('#btnAddNew').click(function () {
                window.location.href = "/admin/CreateProductHot?store=" + $("#drStore").val() + "&id=-1";
            });
        }]);
    </script>
}



