@using NailShop.DataAccess;
@model vw_Slide
@{
    ViewBag.Title = "Welcome";
    Layout = "~/Views/Share/_Backend.cshtml";
}

<section class="scrollable padder">
    <div class="m-b-md">
        <h3 class="m-b-none">@Resources.Backend.headWelcome</h3>
        <hr />
    </div>
    <form id="formWelcome" class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-sm-2">@Resources.Backend.lblImage</label>
            <div class="col-sm-2">
                <div id="boxCover" class="dropfile visible-lg">
                    <img id="imgUpload" src="@Model.Image" style="width: 200px; height: 120px" />
                    <a id="imgCover" href="#"></a>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div id="divValue" class="col-sm-12" data-id="@Model.SlideID" style="height:300px">
                @Html.TextArea("description", @Model.Description)
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4">
                <div>
                    <button id="btnSave" type="submit" class="btn btn-primary">@Resources.Backend.btnSave</button>
                </div>
            </div>
        </div>
    </form>
    <div class="modal fade" id="modalConfirm" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"><i class="fa fa-warning"></i> @Resources.Backend.mesTitleWarring</h4>
                </div>
                <div class="modal-body">
                    <p id="msgContent">@Resources.Backend.mesSuccess</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">@Resources.Backend.btnClose</button>
                </div>
            </div>
        </div>
    </div>
</section>

@section Styles {
    <link href="~/Contents/css/kendo.common.css" rel="stylesheet" />
    <link href="~/Contents/css/kendo.office365.css" rel="stylesheet" />
    <link href="~/Contents/css/uploadfile.css" rel="stylesheet" />
}
@section Scripts {
    <script src="~/Scripts/kendo.js"></script>
    <script src="~/Scripts/function.js"></script>
    <script src="~/Scripts/jquery.uploadfile.js"></script>
    <script src="~/Scripts/jquery.form.js"></script>
    <script>
        $("#description").kendoEditor({
            resizable: {
                content: false,
                toolbar: true
            }
        });

        $('#formWelcome').submit(function (event) {
            var slide = {
                SlideID: $('#divValue').attr('data-id'),
            }
            var slideLang = {
                SlideID: $('#divValue').attr('data-id'),
                LangID: 'en-US',
                Description: $("#description").data("kendoEditor").value(),
                Image: $("#imgUpload").attr('src'),
            };
            $.ajax({
                url: '/admin/SaveWelcome',
                type: 'Post',
                data: JSON.stringify({ slide: slide, slideLang: slideLang }),
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    if (data.IsOk) {
                        $('#msgContent').html('You save sucessfull!');
                        $('#modalConfirm').modal('show');
                    }
                    else {
                        $('#msgContent').html('You save unsucessfull!');
                        $('#modalConfirm').modal('show');
                    }
                }
            });
            event.preventDefault();
        });

        $("#imgCover").uploadFile({
            url: '/admin/UploadCover',
            multiple: false,
            dragDrop: false,
            allowedTypes: 'jpg,png,bmp,gif',
            maxFileSize: 2100000,
            onSuccess: function (files, response, xhr) {
                var data = $.parseJSON(response);
                $('#boxCover').find('img').attr('src', data.file);
            },
        });

        $("#imgPhoto").uploadFile({
            url: '/admin/UploadPhoto',
            multiple: false,
            dragDrop: false,
            allowedTypes: 'jpg,png,bmp,gif',
            maxFileSize: 2100000,
            onSuccess: function (files, response, xhr) {
                var data = $.parseJSON(response);
                $('#boxPhoto').find('img').attr({ 'src': data.file, 'data-id': data.id });
            },
        });
    </script>
}