@model NailShop.Business.Model.ModelWeb.ChangePassword

@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Share/_Layout.cshtml";
}
<link href="~/Contents/css/nail-changepass.css" rel="stylesheet" />
<div class="page-wrap">
    <section class="section-changepass">
        <div class="container">
            <div class="row">
                <div class="col-sm-4 col-sm-push-4 changepass-form">
                    <h4>@Resources.ChangePassword.title</h4>
                    <form>
                        <div class="form-group">
                            <div class="input-group">
                                @Html.TextBoxFor(m => m.Password, new { @class = "form-control", @placeholder = @Resources.ChangePassword.placeholderCurrPassword, @maxlength = "50" })
                                <span class="input-group-addon" id="basic-addon2"><i class="fa fa-lock"></i></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                @Html.TextBoxFor(m => m.PasswordNew, new { @class = "form-control", @placeholder = @Resources.ChangePassword.placeholderNewPassword, @maxlength = "50" })
                                <span class="input-group-addon" id="basic-addon2"><i class="fa fa-lock"></i></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                @Html.TextBoxFor(m => m.PasswordConfirm, new { @class = "form-control", @placeholder = @Resources.ChangePassword.placeholderPasswordConfirm, @maxlength = "50" })
                                <span class="input-group-addon" id="basic-addon2"><i class="fa fa-lock"></i></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary col-sm-12">@Resources.ChangePassword.btnSubmit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>

