<div id="modalLogin" class="modal fade" ng-app="app" ng-controller="pageCtrl">
    <div class="modal-dialog modal-sm modal-login">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="fa fa-times-circle"></i>
                </button>
                <h4 class="modal-title">@Resources.Login.title</h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { @name = "loginForm" }))
                {
                    <div class="form-group has-feedback" ng-class="{ 'has-error': loginForm.userName.$invalid && loginForm.userName.$dirty }">
                        <input id="txtLoginName" type="text" class="form-control" placeholder="@Resources.Login.placeholderUser" name="userName" ng-model="userName" aria-describedby="basic-addon2" autofocus required>
                        <span class="glyphicon glyphicon-user form-control-feedback" aria-hidden="true"></span>
                        <p class="help-block" ng-show="loginForm.userName.$invalid && loginForm.userName.$dirty">This field is required.</p>
                    </div>
                    <div class="form-group has-feedback" ng-class="{ 'has-error': loginForm.Pass.$invalid && loginForm.Pass.$dirty }">
                        <input id="txtPassword" type="password" class="form-control" placeholder="@Resources.Login.placeholderPassword" name="Pass" ng-model="pass" aria-describedby="basic-addon2" required>
                        <span class="glyphicon glyphicon-lock form-control-feedback" aria-hidden="true"></span>
                        <p class="help-block" ng-show="loginForm.Pass.$invalid && loginForm.Pass.$dirty">This field is required.</p>
                    </div>
                    <div id="divError" class="form-group has-error hide">
                        <div class="input-group">
                            <p class="form-control-static control-label">@Resources.Login.msgError</p>
                        </div>
                    </div>
                    <button id="btnLogin" type="submit" class="btn btn-primary" ng-disabled="!loginForm.$valid">@Resources.Login.btnLogin</button>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> @Resources.Login.registerPassword
                        </label>
                    </div>
                    <hr>
                    <p class="text-center"><a href="/home/forgetpassword"><u>@Resources.Login.linkForgetPassword</u></a></p>
                }
            </div>
        </div>
    </div>
</div>
