@{
    ViewBag.Title = "Create Order";
    Layout = "~/Views/Share/_Backend.cshtml";
}

<section class="vbox" ng-app="MyApp" ng-controller="MainController">
    <section class="scrollable padder">
        <div class="m-b-md">
            <h3 class="m-b-none">@Resources.CreateOrder.titleForm</h3>
            <hr />
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">@Resources.CreateOrder.lblBillAddress</label>
                        <div class="col-sm-9">
                            @Html.TextBox("BillAddress", (string)ViewBag.BillAddress, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">@Resources.Backend.lblCity</label>
                        <div class="col-sm-4">
                            @Html.TextBox("City", (string)ViewBag.City, new { @class = "form-control" })
                        </div>
                        <label class="col-sm-1 control-label">@Resources.Backend.lblState</label>
                        <div class="col-sm-4">
                            @Html.TextBox("State", (string)ViewBag.State, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">@Resources.Backend.lblZipCode</label>
                        <div class="col-sm-9">
                            @Html.TextBox("ZipCode", (string)ViewBag.ZipCode, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">@Resources.Backend.lblDescription</label>
                        <div class="col-sm-9">
                            @Html.TextArea("Description", (string)ViewBag.Description, new { @class = "form-control", rows = "5" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-8">
                            <div class="checkbox">
                                <label>
                                    @{
                                        bool IsCheck = Convert.ToBoolean(ViewBag.IsTemplate);
                                        @Html.CheckBox("IsTemplate", IsCheck)<strong>@Resources.CreateOrder.lblOrdTemplate</strong>
                                    }
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-3">
                            <button id="btnSave" type="submit" data-ng-click="addNew()" ng-hide="IsHidden" class="btn btn-primary">@Resources.CreateOrder.btnSave</button>
                            <a href="/backend/order" class="btn btn-primary">@Resources.CreateOrder.btnBack</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 text-right">
                <div class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">@Resources.CreateOrder.lblShipAddress</label>
                        <div class="col-sm-9">
                            @Html.TextBox("DeliveryAddress", (string)ViewBag.DeliveryAddress, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">@Resources.Backend.lblCity</label>
                        <div class="col-sm-4">
                            @Html.TextBox("CityShip", (string)ViewBag.CityShip, new { @class = "form-control" })
                        </div>
                        <label class="col-sm-1 control-label">@Resources.Backend.lblState</label>
                        <div class="col-sm-4">
                            @Html.TextBox("StateShip", (string)ViewBag.StateShip, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">@Resources.Backend.lblZipCode</label>
                        <div class="col-sm-9">
                            @Html.TextBox("ZipCodeShip", (string)ViewBag.ZipCodeShip, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group form-inline">
                        <div class="col-sm-12 text-right">
                            <p class="control-label">@Resources.CreateOrder.lblNo  @Html.Label((string)@ViewBag.InvoiceNo, new { id = "lblInvoiceNo" })</p>
                            <p class="control-label">@Resources.CreateOrder.lblOrdDate  @Html.Label((string)@ViewBag.InvoiceDate, new { id = "lblInvoiceDate" })</p>
                            <p class="control-label">@Resources.CreateOrder.lblAmount $@ViewBag.Amount</p>
                            <p class="control-label">@Resources.CreateOrder.lblDiscount $@ViewBag.DiscountAmount</p>
                            <p class="control-label">@Resources.CreateOrder.lblTaxAmount $@ViewBag.TaxAmount</p>
                            <p class="control-label">@Resources.CreateOrder.lblTotal $@ViewBag.TotalAmount</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ui-grid="gridOptions" ui-grid-pagination ui-grid-edit class="myGrid table" style="height: 372px;"></div>
    </section>
</section>
@section Styles {
    <link href="~/Contents/css/ui-grid.css" rel="stylesheet" />
    <link href="~/Contents/css/backend-ui-grid.css" rel="stylesheet" />
}

@section Scripts {
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/ui-grid.js"></script>
    <script>
        $(document).ready(function(){
            $('[data-toggle="popover"]').popover();
        });
        var OrdID = @ViewBag.OrdID, myjson, isFristLoad=true;
        var app = angular.module('MyApp', ['ui.grid', 'ui.grid.pagination', 'ui.grid.edit']);
        app.controller('MainController', ['$scope', '$http', function ($scope, $http, $apply) {
            $scope.IsHidden = true;
            $scope.gridOptions = {
                enableSorting: true,
                enableColumnMenus: false,
                paginationPageSizes: [10, 20, 40],
                paginationPageSize: 10,
                columnDefs: [
                    { name: "ProdNo", width: '150', displayName: "@Resources.CreateOrder.gridNo", enableCellEdit: false, headerCellClass: 'text-center', cellClass: 'text-center'},
                    { name: "ProductName", displayName: "@Resources.CreateOrder.gridName", enableCellEdit: false, headerCellClass: 'text-center' },
                    { name: "Price",  width: '100', displayName: "@Resources.CreateOrder.gridPrice", enableCellEdit: false, headerCellClass: 'text-center', cellClass: 'text-right'},
                    { name: "Qty",  width: '100', displayName: "@Resources.CreateOrder.gridQty", enableCellEdit: true, headerCellClass: 'text-center', cellClass: 'text-right' },
                    { name: "Discount",  width: '100', displayName: "@Resources.CreateOrder.gridDiscount", enableCellEdit: true, headerCellClass: 'text-center', cellClass: 'text-right'},
                    { name: "Total",  width: '100', displayName: "@Resources.CreateOrder.gridTotal", enableCellEdit: false, headerCellClass: 'text-center', cellClass: 'text-right'}
                ]
            };

            $scope.getPagedDataAsync = function (pageSize, page, searchText) {
                if (pageSize == null) {
                    $scope.gridOptions.paginationPageSize = 10;
                    pageSize = 10;
                }
                if (page == null) {
                    $scope.gridOptions.paginationCurrentPage = 1;
                    page = 1;
                }
                if(isFristLoad)
                {
                    isFristLoad=false;
                    $http({
                        url: "/backend/GetOrdForBackend?id="+ OrdID,
                        method: "GET",
                        cache: false,
                    }).success(function (data, status, headers, config) {
                        myjson = JSON.parse(data);
                        $scope.gridOptions.data = myjson;
                    }).error(function (data, status, headers, config) {
                        alert(JSON.stringify(data));
                    });
                }
            };

            $scope.getPagedDataAsync($scope.gridOptions.paginationCurrentPage, $scope.gridOptions.paginationPageSize);

            $scope.gridOptions.onRegisterApi = function(gridApi) {
                $scope.gridApi = gridApi;
                gridApi.edit.on.afterCellEdit($scope, function(rowEntity, colDef, newValue, oldValue) {
                    if (newValue != oldValue) {
                        $scope.IsHidden = false;
                    };
                });
            };

            $scope.addNew = function ()
            {
                var Invoice={InvoiceID: OrdID, Address: $('#BillAddress').val(), AddressAddr1S: $('#DeliveryAddress').val(), Notes: $('#Description').val(),
                    City: $('#City').val(), State: $('#State').val(), ZipCode: $('#ZipCode').val(),
                    CityShip: $('#CityShip').val(), StateShip: $('#StateShip').val(), ZipCodeShip: $('#ZipCodeShip').val(),
                    SubTotal: $('#lblAmount').html(), SaleTax: $('#lblTaxAmount').html(), Discount: $('#lblDiscountAmount').html(), Total: $('#lblTotalAmount').html(), IsTemplate: $('#IsTemplate').val()};
                $http({
                    url: "/Order/SaveData",
                    method: "Post",
                    data:{invoice: Invoice, ordItems: $scope.gridOptions.data}
                }).success(function (data) {
                    if(data.IsOk)
                        window.location.href="/backend/order";
                });
            };
        }]);

        IsEdit();
        function IsEdit()
        {
            if('@ViewBag.IsEdit'=='False')
                $(btnSave).addClass('hide');
        }
    </script>
}
